In [1]:
import pandas as pd

In [2]:
data_2019_01 = pd.read_csv("Resources/raw_data/201901-citibike-tripdata.csv")
data_2019_02 = pd.read_csv("Resources/raw_data/201902-citibike-tripdata.csv")
data_2019_03 = pd.read_csv("Resources/raw_data/201903-citibike-tripdata.csv")
data_2019_04 = pd.read_csv("Resources/raw_data/201904-citibike-tripdata.csv")
data_2019_05 = pd.read_csv("Resources/raw_data/201905-citibike-tripdata.csv")

In [3]:
data_2019_01["Month"] = "January"
data_2019_02["Month"] = "February"
data_2019_03["Month"] = "March"
data_2019_04["Month"] = "April"
data_2019_05["Month"] = "May"

In [4]:
files_2019 = [data_2019_01,
              data_2019_02,
              data_2019_03,
              data_2019_04,
              data_2019_05]

In [5]:
for file in files_2019:
    file.drop(['starttime',
               'stoptime',
               'start station id',
               'end station id'], axis=1,inplace=True)
    file.drop(file[file['birth year'] < 1939].index, inplace=True)
    file.drop(file[file['gender'] == 0].index, inplace=True)
    file['gender'].replace({1: "Male", 2:"Female"}, inplace=True)

In [6]:
data_2019_01

,tripduration,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,320,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,Male,January
1,316,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,Male,January
2,591,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,Male,January
3,2719,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,Male,January
4,303,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,Male,January
...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,3 St & Prospect Park West,40.668132,-73.973638,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,Female,January
967283,437,3 St & Prospect Park West,40.668132,-73.973638,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,Female,January
967284,173,3 St & Prospect Park West,40.668132,-73.973638,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,Male,January
967285,244,3 St & Prospect Park West,40.668132,-73.973638,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,Male,January
967286,387,3 St & Prospect Park West,40.668132,-73.973638,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,Male,January

In [15]:
data_2019_01.to_csv("Resources/clean_data/data_2019_01.csv")
data_2019_02.to_csv("Resources/clean_data/data_2019_02.csv")
data_2019_03.to_csv("Resources/clean_data/data_2019_03.csv")
data_2019_04.to_csv("Resources/clean_data/data_2019_04.csv")
data_2019_05.to_csv("Resources/clean_data/data_2019_05.csv")

In [8]:
data_2020_01 = pd.read_csv("Resources/raw_data/202001-citibike-tripdata.csv")
data_2020_02 = pd.read_csv("Resources/raw_data/202002-citibike-tripdata.csv")
data_2020_03 = pd.read_csv("Resources/raw_data/202003-citibike-tripdata.csv")
data_2020_04 = pd.read_csv("Resources/raw_data/202004-citibike-tripdata.csv")
data_2020_05 = pd.read_csv("Resources/raw_data/202005-citibike-tripdata.csv")

In [9]:
data_2020_01["Month"] = "January"
data_2020_02["Month"] = "February"
data_2020_03["Month"] = "March"
data_2020_04["Month"] = "April"
data_2020_05["Month"] = "May"

In [10]:
files_2020 = [data_2020_01,
              data_2020_02,
              data_2020_03,
              data_2020_04,
              data_2020_05]

In [11]:
for file in files_2020:
    file.drop(['starttime',
               'stoptime',
               'start station id',
               'end station id'], axis=1,inplace=True)
    file.drop(file[file['birth year'] < 1939].index, inplace=True)
    file.drop(file[file['gender'] == 0].index, inplace=True)
    file['gender'].replace({1: "Male", 2:"Female"}, inplace=True)

In [16]:
data_2020_05

,tripduration,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,336,E 43 St & 2 Ave,40.750224,-73.971214,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,Male,May
1,853,E 65 St & 2 Ave,40.764719,-73.962221,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,Male,May
3,1185,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,Male,May
4,272,Central Ave & Starr Street,40.700003,-73.928340,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,Male,May
6,925,1 Ave & E 62 St,40.761227,-73.960940,Lenox Ave & W 111 St,40.798786,-73.952300,37596,Subscriber,1991,Male,May
...,...,...,...,...,...,...,...,...,...,...,...,...
1487884,524,Crescent St & Ditmars Blvd,40.778718,-73.914564,31 Ave & 30 St,40.764700,-73.924031,41291,Subscriber,1982,Male,May
1487885,981,Washington Ave & Park Ave,40.696102,-73.967510,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,Female,May
1487886,367,E 23 St & 1 Ave,40.736502,-73.978095,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,Female,May
1487887,1798,W 49 St & 8 Ave,40.762272,-73.987882,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,Male,May
1487889,1168,Dean St & 4 Ave,40.683125,-73.978951,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,Male,May

In [14]:
data_2020_01.to_csv("Resources/clean_data/data_2020_01.csv")
data_2020_02.to_csv("Resources/clean_data/data_2020_02.csv")
data_2020_03.to_csv("Resources/clean_data/data_2020_03.csv")
data_2020_04.to_csv("Resources/clean_data/data_2020_04.csv")
data_2020_05.to_csv("Resources/clean_data/data_2020_05.csv")